#background {
    background: url("../images/symphony.png") left top repeat;
    /*background-repeat: repeat-x;*/
    /*background-size: cover;*/
    padding-top: 100px;
    padding-bottom: 75px;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    font-color: white;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height: 100%;
}

body {
    /* padding-top: 50px; */
}

a {
    color: #0BACD6;
}

h1 {
    font-family: "Times New Roman", Times, serif;
    font-size: 34pt;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.buttons-row {
    white-space: nowrap;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.buttons-row div {
    width: 25%;
    display: inline-block;
}

.social-icon {
}
.social-icon:hover {
    opacity: 1; /* css standard */
}

.samiya-header {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: black ;
}

.twitter-roll {
    background-image: url('../images/twitterlogo.png');
}
.social-roll {
    
    border-radius: 50%;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    transition: all ease 0.3s;
    max-width: 50px;
    max-height: 50px;
}
.social-roll:hover {
    /*box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.8);*/
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    transform:rotate(360deg);
    max-width: 50px;
    max-height: 50px;
}

.social-popout {
    height: 48px;
    width: 48px;
    margin: 10px;
    float: left;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
}
.social-popout img {
    border-radius: 50%;
    margin: 8px;
    width: 100%;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
}
.social-popout img:hover {
    margin: 0px;
    box-shadow: 6px 6px 4px 4px rgba(0,0,0,0.3);
}