#background {
    background: url("../images/cover.jpg") ;
    background-repeat: repeat-y;
    padding-top: 100px;
    padding-bottom: 75px;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    font-color: white;
}

body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.buttons-row {
    white-space: nowrap;
    width: 1000px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.buttons-row div {
    width: 25%;
    display: inline-block;
}

.social-icon {
    max-width: 50px;
    max-height: 50px;
}

.samiya-header {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white ;
}