#background {
    /*background-repeat: repeat-x;*/
    /*background-size: cover;*/
    padding-top: 30px;
    padding-bottom: 30px;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    font-color: white;
    left:0;
    top:0;
    width:100%;
    height: 100%;
}

body {
    /* padding-top: 50px; */
    font-size: 18px;
    background-color: #FDFDFD;
}

a {
    color: #0BACD6;
    cursor: pointer;
}

h1 {
    font-family: "Arial", sans-serif;
    font-size: 34pt;
    font-weight: 300;
    color: #333333;
}
h2 {
    font-family: "Arial", sans-serif;
    /*font-size: 27pt;*/
    font-weight: 300;
    color: #333333;
}
h3 {
    font-family: "Arial", sans-serif;
    font-size: 20pt;
    font-weight: 300;
    color: #333333;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid #eeeeee;
    background-color: #eeeeee;
    width: 65%;
}

ul li {
    color: #0BACD6;
}
ul li span {
    color: #333333;
}
.language-button {
    background-color: #0BACD6;
    color: white;
}

.graph-outer {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    white-space: nowrap;
}

.graph-left {
    height: 100%;
    text-align: right;
    display: inline-block;
    max-width: 105px;
    min-width: 5px;
}

.graph-right {
    height: 100%;
    text-align: left;
    display: inline-block;
    max-width: 400px;
}

.graph-language {
    height: 20px;
    background-color: #0BACD6;
    font-size: 13px;
    font-weight: 700;
    vertical-align: middle;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 3px;
    color: white;
    text-align: center;
    position: relative;
    left: -3px;

    -webkit-transition: all ease 0.1s;
    -moz-transition: all ease 0.1s;
    -o-transition: all ease 0.1s;
    -ms-transition: all ease 0.1s;
    transition: all ease 0.1s;
}
.graph-language:hover {
    -webkit-transform:scale(1.05);
    -moz-transform:scale(1.05);
    -o-transform:scale(1.05);
    -ms-transform:scale(1.05);
    transform:scale(1.05) ;
    font-size: 14px;
}

.graph-vertical {
    border-radius: 3px;
    height: 272px;
    width: 5px;
    background-color: #0BACD6;
    text-align: right;
    position: relative;
    float: right;
    margin-top: auto;
    margin-bottom: auto;
    top: 7px;
}

.circle-img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    border: 2px solid #eeeeee;
    padding: 3px;
}

.company {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    overflow: visible;
    float: left;
    display: inline-block;
}

.company-logo {
    height: 100%;
    text-align: right;
    display: inline-block;
    vertical-align: top;
    top: 10px;
    position: relative;
    float: left;
    min-width: 300px;
    max-width: 330px;
}
.company-info {
    height: 100%;
    text-align: left;
    position: relative;
    padding-left: 35px;
    display: inline-block;
    word-wrap: break-word;
    white-space: initial;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 18px;
    /*padding-right: 10%;*/
    float: left;
    max-width: 700px;
}
.company-position {
    color: #0BACD6;
}
.company-details {
    margin-right: 20px;
    margin-left: 20px;
}
.resume-div {
    white-space: nowrap;
    width: 100%;
    overflow: auto;
}
.resume-line {
    border-left: 3px solid #0BACD6;
    width: 5%;
    display: inline-block;
}

.we-term {
    text-align: right;
    width: 35%;
    display: inline-block;
}

.we-info {
    text-align: left;
    width: 60%;
    display: inline-block;
}

.outer-center {
    margin-left: auto;
    margin-right: auto;
    /*width: 50%;*/
    max-width: 570px;
    text-align: center;
}
.left-center {
    text-align: left;
    /*margin-left: 50px;*/
    white-space: initial;
    word-wrap: break-word;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.buttons-row {
    white-space: nowrap;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /*position: fixed;*/
    bottom: 25px;
    margin-bottom: 25px;
}

.buttons-row div {
    width: 25%;
    display: inline-block;
}

.social-icon {
    width: 50px;
    height: 50px;
}

.samiya-header {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #333333 ;
}


.information-text {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 570px;
    min-width: 200px;
}
.information-text a {
    font-size: 17px;
    color: #333333;
    text-decoration: none;
}
.information-text a:hover {
    text-decoration: none;
    color: #0BACD6;
}

.my-button {
    background-color: #0BACD6;
}

.information-text ul{
    display: inline-block;
}

.twitter-roll {
    background-image: url('../images/twitterlogo.png');
}

.twitter-roll:hover {
    background-image: url('../images/twitterlogo.png');
}
.social-roll {
    border-radius: 50%;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    transition: all ease 0.3s;
    max-width: 50px;
    max-height: 50px;
    left: 0px;
    display: inline-block;
    position:relative;
    top:0px;
}
.social-roll:hover {

    /*box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.8);*/
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    transform:rotate(360deg) ;
    max-width: 50px;
    max-height: 50px;
    left: 0px;
    display: inline-block;
    position:relative;
    top:0px;
}

.social-popout {
    height: 48px;
    width: 48px;
    margin: 10px;
    float: left;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
}
.social-popout img {
    border-radius: 50%;
    margin: 8px;
    width: 100%;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
}
.social-popout img:hover {
    margin: 0px;
    box-shadow: 6px 6px 4px 4px rgba(0,0,0,0.3);
}
